.web-body{
    max-width: 100%;
    height: 100%;
    margin-top: 67px;
}
.web-header{
    max-width: 1920px;
    height: 39px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
.web-title{
    width: 195px;
    height: 39px;
    font-size: 32px;
    line-height: 28px;
    color: #3D37F1;
}
.t1 {
    color: #4B647E;
}
.web-list{
    display: flex;
    justify-content: space-around;
    
}
.web-navigation{
    margin-right: 287px;
    width: 581px;
    height: 24px;
    flex-direction: row;
}
.list{ 
    font-size: 20px;
    color: #3D37F1;
    line-height: 39px;
}
.burger{
    display: none;
    font-size: 50px;
    margin: 0 auto;
}

/* First section start */
.first-section{
    max-width: 1920px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.left-block{
    margin-top: 285px;
    /* margin-left: auto;
    margin-right: auto; */
    max-width: 602px;
    height: 509px;
    background-color: #FFFFFF;
    flex-direction: column;
    text-align: left;
}
.left-block-title{
    max-width: 600px;
    height: 203px;
    font-size: 78px;
    color: #534D4D;
}
.left-block-paragraph{
    max-width: 602px;
    height: 103px;
    font-size: 22px;
    line-height: 32px;
    color: #534D4D;
}
.left-logo{
    display: flex;
    justify-content: space-evenly;
    border-radius: 38px;
    background-color: #3D37F1;
    width: 263.67px;
    height: 76.77px;
    align-items: center;
    text-align: center;
}
.left-logo-paragraph{
    width: 106px;
    height: 32px;
    font-size: 23px;
    line-height: 35px;
    color: #FFFFFF;
   
}
.hand-logo{
    width: 30.29px;
    height: 30.97px; 
}

.right-block{
    margin-top: 190px;
    max-width: 801px;
    height: 526.63px;
    
}
.right-block-image{
    max-width: 801px;
    height: 526.63px;
}
/* Section 2 start */
.text-content{
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    max-width: 721px;
    height: 220px;
    text-align: center;
}
.section2-title{
    margin-bottom: 17px;
    font-size: 20px;
    color: #3D37F1;
}
.section2-content{
    font-size: 40px;
    color: #5A5454;
    margin-bottom: 21px;
}
.section2-paragraph{
    font-size: 18px;
    color: #747474;
    margin-bottom: 67px;
}
.container-content{
    max-width: 1169px;
    margin: 0 auto;

}
.line1-block{
    max-width: 370px;
    height: 451px;
    background-color: #FBBA77;
    text-align: center;
    flex-direction: row;
}
.line-1{
    display: flex;
    justify-content: space-between;
}
.two{
    background-color: #41EAE3;
}
.three{
    background-color:#69529F;
}
.four{
    background-color: #4386D2;
    margin-top: 60px;
    margin-bottom: 60px;
}
.five {
    background-color: #A5A2F6;
    margin-top: 60px;
    margin-bottom: 60px;
}
.six {
    background-color: #FF8088;
    margin-top: 60px;
    margin-bottom: 60px;
}
.logoline{
    margin-top: 88px;
    width: 100px;
    height: 99.89px;
}
.line1-text{
    margin-top: 57px;
    font-size: 22px;
    color: #FFFFFF;
}
.line1-paragraph{
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 13.1px;
    margin-bottom: 11px;
}
.readmore{
    border-radius: 23px;
    background-color: #FFFFFF;
    width: 131px;
    height: 45px;
    margin-left: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-text{
    font-size: 15px;
    color: #4B647E;
}
.color2{
   border-color: #FFFFFF;
}