.web-body{
    width: 100%;
    margin-top: 67px;
}
.web-header{
    width: 1501px;
    height: 39px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
.web-title{
    width: 195px;
    height: 39px;
    font-size: 32px;
    line-height: 28px;
    color: #3D37F1;
}
.t1 {
    color: #4B647E;
}
.web-list{
    display: flex;
    justify-content: space-around;
    
}
.web-navigation{
    width: 581px;
    height: 24px;
    flex-direction: row;
}
.list{ 
    font-size: 20px;
    color: #3D37F1;
    line-height: 39px;
}
/* First section start */
.first-section{
    width: 1708px;
    height: 595px;
    margin: 0 auto;
    display: flex;
}
.left-block{
    width: 602px;
    height: 509px;
    background-color: #FFFFFF;
}
.right-block{
    width: 801px;
    height: 526.63px;
}